.dashboard-page {
    padding: 20px;
    background-color: #f0f2f5;
    .header {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
        .navbar {
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            .nav-item {
                margin-right: 15px;
                color: #333;
                text-decoration: none;
                &:hover {
                    color: #007bff;
                }
            }
        }
        button {
            height: 50px;
        }

    }
}